---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/senate/votes/recent.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PROPUBLICA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - ff6db41a-b7a0-11e8-a3cc-516b3680d999
      X-Amz-Apigw-Id:
      - NLfF2EWBoAMFq5w=
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2018 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\": {\n      \"chamber\":
        \"Senate\",\n      \"offset\": 0,\n      \n      \n      \"num_results\":
        20,\n      \"votes\": [\n        {\n           \"congress\": 115,\n           \"chamber\":
        \"Senate\",\n           \"session\": 2,\n           \"roll_call\": 207,\n
        \          \"source\": \"https://www.senate.gov/legislative/LIS/roll_call_votes/vote1152/vote_115_2_00207.xml\",\n
        \          \"url\": \"https://www.senate.gov/legislative/LIS/roll_call_lists/roll_call_vote_cfm.cfm?congress=115&session=2&vote=00207\",\n
        \          \"vote_uri\": \"https://api.propublica.org/congress/v1/115/senate/sessions/2/votes/207.json\",\n
        \          \"bill\": {\n           \"bill_id\": \"hr5895-115\",\n           \"number\":
        \"H.R.5895\",\n           \"sponsor_id\": \"S001148\",\n           \"api_uri\":
        \"https://api.propublica.org/congress/v1/115/bills/hr5895.json\",\n           \"title\":
        \"Making appropriations for energy and water development and related agencies
        for the fiscal year ending September 30, 2019, and for other purposes.\",\n
        \          \"latest_action\": \"Conference report H. Rept. 115-929 filed.
        (text of conference report: CR H7946--8106)\"\n           },\n           \"amendment\":
        {\n           },\n           \"question\": \"On the Conference Report\",\n
        \          \"description\": \"A bill making appropriations for energy and
        water development and related agencies for the fiscal year ending September
        30, 2019, and for other purposes.\",\n           \"vote_type\": \"1/2\",\n
        \          \"date\": \"2018-09-12\",\n           \"time\": \"18:57:00\",\n
        \          \"result\": \"Conference Report Agreed to\",\n           \"tie_breaker\":
        \"\",\n           \"tie_breaker_vote\": \"\",\n           \"document_number\":
        \"5895\",\n           \"document_title\": \"A bill making appropriations for
        energy and water development and related agencies for the fiscal year ending
        September 30, 2019, and for other purposes.\",\n           \"democratic\":
        {\n             \"yes\": 43,\n             \"no\": 3,\n             \"present\":
        0,\n             \"not_voting\": 1,\n             \"majority_position\": \"Yes\"\n
        \           },\n           \"republican\": {\n             \"yes\": 47,\n
        \            \"no\": 2,\n             \"present\": 0,\n             \"not_voting\":
        2,\n             \"majority_position\": \"Yes\"\n            },\n           \"independent\":
        {\n             \"yes\": 2,\n             \"no\": 0,\n             \"present\":
        0,\n             \"not_voting\": 0\n            },\n           \"total\":
        {\n             \"yes\": 92,\n             \"no\": 5,\n             \"present\":
        0,\n             \"not_voting\": 3}\n          },\n        {\n           \"congress\":
        115,\n           \"chamber\": \"Senate\",\n           \"session\": 2,\n           \"roll_call\":
        206,\n           \"source\": \"https://www.senate.gov/legislative/LIS/roll_call_votes/vote1152/vote_115_2_00206.xml\",\n
        \          \"url\": \"https://www.senate.gov/legislative/LIS/roll_call_lists/roll_call_vote_cfm.cfm?congress=115&session=2&vote=00206\",\n
        \          \"vote_uri\": \"https://api.propublica.org/congress/v1/115/senate/sessions/2/votes/206.json\",\n
        \          \"bill\": {},\n           \"amendment\": {\n           },\n           \"nomination\":
        {\n             \"nomination_id\": \"PN1620-115\",\n             \"number\":
        \"PN1620\",\n             \"name\": \"Charles P. Rettig\",\n             \"agency\":
        \"Department of the Treasury\"\n           },\n           \"question\": \"On
        the Nomination\",\n           \"description\": \"Charles P. Rettig, of California,
        to be Commissioner of Internal Revenue for the term expiring November 12,
        2022\",\n           \"vote_type\": \"1/2\",\n           \"date\": \"2018-09-12\",\n
        \          \"time\": \"18:32:00\",\n           \"result\": \"Nomination Confirmed\",\n
        \          \"tie_breaker\": \"\",\n           [...]
